@use '../util' as u;

.creations {
  display: grid;
  margin-top: 3rem;
  margin-bottom: 3.9rem;

  @media (width >= u.rem(1110)) {
    margin-top: 1.6rem;
    margin-bottom: 11.6rem;
    grid-template-columns: repeat(2, 1fr);
  }

  &__title {
    margin-bottom: 3rem;
    text-align: center;
    order: 0;

    @media (width >= u.rem(1110)) {
      margin-bottom: 4.9rem;
      text-align: left;
    }
  }

  &__button {
    margin: 2rem auto;
    padding: 0.6rem 2.4rem;
    display: block;
    max-width: 10rem;
    max-height: 2.7rem;
    border: 1px solid;
    font-size: var(--fs-xs);
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    order: 2;

    &:hover {
      background-color: var(--clr-black);
      color: var(--clr-white);
    }

    @media (width >= u.rem(1110)) {
      order: 1;
      margin: 0;
      justify-self: end;
    }
  }
}