@use '../util' as u;

.footer {
  padding-block: 3.5rem;
  background-color: var(--clr-black);

  @media (width >= u.rem(1110)) {
    padding-block: 1.7rem;
  }

  &__wrapper {
    display: grid;
    justify-items: center;
    text-align: center;

    @media (width >= u.rem(1110)) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: start;
      align-items: center;
    }
  }

  .logo {
    @media (width >= u.rem(1110)) {
      width: u.rem(145);
    }
  }

  .nav {
    padding-block: 2rem;

    @media (width >= u.rem(1110)) {
      padding-top: 0.7rem;
      padding-bottom: 1rem;
    }

    &__list {
      gap: 1.3rem;

      @media (width >= u.rem(1110)) {
        gap: 2rem;
      }
    }
  }

  &__social {
    margin-block: 1rem;
    display: flex;
    gap: 1rem;

    @media (width >= u.rem(1110)) {
      grid-column: 2 / -1;
      grid-row: 1 / 2;
      justify-self: end;
    }

    &__link {
      transition: filter .3s ease;
      &:hover {
        filter: drop-shadow(2px 2px var(--clr-primary));
      }
    }    
  }

  &__copy {
    @media (width >= u.rem(1110)) {
      justify-self: end;
    }
  }
}