@use '../util' as u;

.header {
  min-height: 79vh;
  background-image: url('/img/mobile/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @media (width >= u.rem(1110)) {
    min-height: 100vh;
    background-image: url('/img/desktop/image-hero.jpg');
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2.5rem;
    animation: move-down 1s;

    @media (width >= u.rem(1110)) {
      padding-block: 4rem;
    }
  }

  &__headline__wrapper {
    margin-top: 7.6rem;
    width: min(u.rem(650), 100%);
    border: 2px var(--clr-white) solid;
    padding: 1.25rem;
    animation: focus 1s;

    @media (width >= u.rem(1110)) {
      margin-top: 10rem;
      padding: 2.4rem 2.5rem 1.4rem;
    }
  }

  &__headline {
    color: var(--clr-white);
    font-size: var(--fs-xl);
  }
}

.header__nav-close {
  #btnClose,
  .header__nav__list {
    display: none;
  }

  @media (width >= u.rem(1110)) {
    #btnOpen {
      display: none;
    }

    .header__nav__list {
      display: flex;
    }
  }
}

.header__nav-open {
  z-index: 2;

  #btnClose {
    display: block;
    position: absolute;
    top: 2.6rem;
    z-index: 10;
  }

  .header__nav__list {
    padding-top: 12.5rem;
    padding-left: 1.5rem;
    display: block;
    position: fixed;
    inset: 0 0 0 0;
    background-color: var(--clr-black);
  }

  .nav__link {
    display: inline-block;
    margin-top: 1.5rem;
    font-family: var(--ff-heading);
    font-weight: 300;
    font-size: var(--fs-s);
    color: var(--clr-white);
    text-transform: uppercase;
  }
}