@use '../util' as u;

.header {
  min-height: 79vh;
  background-image: url('/img/mobile/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @media (width >= u.rem(768)) {
    background-image: url('/img/desktop/image-hero.jpg');
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2.5rem;

    @media (width >= u.rem(1110)) {
      padding-block: 4rem;
    }
  }

  &__logo {
    width: u.rem(145);

    @media (width >= u.rem(1110)) {
      width: u.rem(192);
    }
  }

  &__headline__wrapper {
    margin-top: 7.6rem;
    width: min(u.rem(650), 100%);
    border: 2px var(--clr-white) solid;
    padding: 1.25rem;

    @media (width >= u.rem(1110)) {
      margin-top: 4rem;
      padding: 2.4rem 2.5rem 1.4rem;
    }
  }

  &__headline {
    color: var(--clr-white);
    font-size: var(--fs-xl);
  }
}
