@use '../util' as u;

.interactive {
  position: relative;
  padding-block: 3rem;
  text-align: center;

  @media (width >= u.rem(1110)) {
    padding-block: 7rem;
    text-align: left;
  }
  
  &__img {
    margin-block: 3rem;
    animation: move-up 1.5s;
  }

  &__content {
    background-color: var(--clr-white);
    animation: move-left 1.5s;

    @media (width >= u.rem(1110)) {
      position: absolute;
      right: 2.9rem;
      bottom: 4rem;
      max-width: 31rem;
      padding: 6rem 0 6rem 6rem;
    }
  }

  &__description {
    margin-inline: auto;
    padding-top: 1rem;
    width: 90%;
    line-height: 1.68;

    @media (width >= u.rem(1110)) {
      padding-top: 1.5rem;
      width: 108%;
    }
  }
}