@use '../util' as u;

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-direction: column;

    @media (width >= u.rem(1110)) {
      flex-direction: row;
    }
  }

  &__link {
    position: relative;
    color: var(--clr-white);
    font-size: var(--fs-xs);

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      position: absolute;
      bottom: -8px;
      left: 50%;
      background-color: var(--clr-primary);
      transition: width .3s, left .3s;
    }

    &:hover {
      &::after {
        width: 100%;
        left: 0;
      }
    }
  }

  &__close {
    #btnClose,
    .nav__list {
      display: none;
    }

    @media (width >= u.rem(1110)) {
      #btnOpen {
        display: none;
      }

      .nav__list {
        display: flex;
      }
    }
  }

  &__open {
    #btnClose {
      display: block;
    }

    .nav__list {
      display: block;
      position: fixed;
      inset: 0 0 0 u.rem(120);
    }

    .nav__link {
      font-family: var(--ff-heading);
      font-weight: 300;
      font-size: var(--fs-s);
      color: var(--clr-white);
      text-transform: uppercase;
    }
  }
}