@use '../util' as u;

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-direction: column;

    @media (width >= u.rem(1110)) {
      flex-direction: row;
    }
  }

  &__link {
    position: relative;
    color: var(--clr-white);
    font-size: var(--fs-xs);

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      position: absolute;
      bottom: -8px;
      left: 50%;
      background-color: var(--clr-primary);
      transition: width .3s, left .3s;
    }

    &:hover {
      &::after {
        width: 100%;
        left: 0;
      }
    }
  }
}